/*CSS for T1A2 Portfolio Project*/

h1 {
    color: #DBE8D4;
}
h2 {
  color: #DBE8D4;
}
h3 {
  color: #DBE8D4;
}
p {
    color: #DBE8D4;
    margin-left: 15px;
    margin-right: 15px;
}

header {
    color: #DBE8D4;
    background-color: #222733;
    display: flex;
    flex-direction: column;
   /* justify-content: center;
    align-items: center;*/
    padding: 20px;
}
.top-space {
  flex: 1 1 100%;
    /* display: flex; */
    /*align-items: center;
    justify-content: center*/
  }
  img {
    /*align-items: center;
    justify-content: center*/
    max-width: 100%;
    padding: 15px;
  }
  .image {
    flex: 1;
    /* flex-basis: 40%; */
  }
  .page-title {
    flex: 1;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Zen Kurenaido', sans-serif;
  }
  .page-subtitle {
    flex: 1;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
.top-nav {
    /*min-width: 100%;
    flex: 1 0 auto;
    background-color: #456;*/
    background-color: /*#222733*/ #333;
    overflow: hidden;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;  */
}
.top-nav a {
  /*flex: 0 0 18%;*/
  float: left;
  display: block;
  color: #DBE8D4;
  text-align: center;
  padding: 14px 16px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  font-size: 17px;
 
  border-radius: 5px;
  /* justify-content: space-between; */
} 
.top-nav a:hover {
  background-color: grey;
  color: black;
}
.top-nav a.active {
  background-color: blueviolet;
  color: #DBE8D4;
}
.top-nav .burger-icon {
  display: none;
}


.main-content {
  background-color: #2E3445;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-height: 300px;*/
}

footer {
    color: #DBE8D4;
    background-color: #222733;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  
}
.up-button a {
  color: #DBE8D4;
}
.page-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
.bottom-button {
  color: #DBE8D4;
  border-radius: 10px;
  margin: 15px;
}