/*---------------------------------------------------------   AndrewDevitt_T1A2    --*/


* {
  box-sizing: border-box;
}
 
/*----------------------------------------------------------- Style the body--------- */
       body {
         font-family: Arial, Helvetica, sans-serif;
        margin: 0;
       }
       
/*------------------------------------------------------------Text styling-------------*/
  h1 {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /*font-size: 1.25em;*/
    margin-left: 20px;
  }

  h2 {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /*font-size: 1.25em;*/
    margin-left: 20px;
  }

  h3 {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*font-size: 1.25em;*/
    margin-left: 10%;
    margin-right: auto;
  }

  p {
    color: #DBE8D4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.25em;
    margin: 20px;
  }

  li {
    color: #DBE8D4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.25em;
    margin-left: 10%;
    margin-right: auto;
  }



/*------------------------------------------------------------Styling Images--*/

/*Styling the images aligned to the left of a container*/

 .content-image-left {
  float: right;
  display: table;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Styling the images aligned to the center of a container*/
.content-image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-width: 450px;
  padding: 10px;
} 

/*Styling the Figure element and caption for images that come with information*/
figure {
  float: right;
  padding: 4px;
  margin: 20px;
  width: 40%;
    
}

figcaption {
  float: right;
  background-color: black;
  color: #DBE8D4;
  font-style: italic;
  padding: 1px;
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
}

/*Styling the Main Blog page post thumbnaile*/
.blog-thumbnail {
width: 200px;
}

/*Styling the Resume Icon*/
#resume {
  color: #ee1010;  
  margin-left: 10px;
}



/*------------------------------------------------------------Styling the header and top navigation--*/
         header {
             color: #DBE8D4;
             background-color: #222733;
             padding: 20px;
         }

         /*Style space above the nav bar and arrange flex-items within*/
         .top-space {
           display: flex;
           flex-flow: row wrap;
           justify-content: flex-start;
           align-items: center;
           align-content: center;
         }

         /*Round image of my face on index page*/
         .top-space img {
           flex-basis: 200px;
           margin: 15px;
           flex: 1;
           margin: 10px;
           text-align: center;
         }

         /*Changes between my name on index and page title other pages*/
         .page-title {
           flex-shrink: 1;
           font-size: 3em;
           color: #DBE8D4;
           font-family: 'Lobster', Georgia, Times, serif;
           
         }

         /*Index page only*/
         .page-subtitle {
          flex-shrink: 1;
          font-size: 2em;
          color: #DBE8D4;
          font-family: 'Lobster', Georgia, Times, serif;
         }

         /*Following .topNav code from: Code source: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp-->
         /*Add a black background color to the top navigation */
         .topnav {
           background-color: #333;
           overflow: hidden;
         }

         /*Style the links inside the navigation bar */
         .topnav a {
           float: left;
           display: block;
           color: #DBE8D4;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
           font-size: 17px;
         }

         /*Change the color of links on hover */
         .topnav a:hover {
           background-color: whitesmoke;
           color: black;
         }

         /*Add an active class to highlight the current page */
         .topnav a.active {
           background-color: blueviolet;
           color: white;
         }

         /*Hide the link that should open and close the topnav on small screens */
         .topnav .icon {
           display: none;
         }
 
/*------------------------------------------------------------Styling the main content area for pages--*/

  /*Overall container to hold and position the 
  3 main flex-containers for the middle of the page*/
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: DodgerBlue; /*For error checking only - should not display!*/
  }

  /*flexible blank space down the left and right sides of the screen on larger screens
  that will shrink faster than the central area as size diminishes*/      
  .blank-side-area {
    background-color: #2E3445;
    flex-basis: 0%;
    flex-shrink: 2;
    min-width: 0%;
  }

  /*All main content on each page will display within this container.
  It will help control the overall positioning of everything within it*/
  .main-content-area {
    background-color: #2E3445;
    flex-basis: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 5;
    max-width: 100%;
  }
                                                           
 
/*------------------------------------------------------------Styling the classes for the main content sections/articles and images--*/

 
  /*Styling for my <section> and <artilce> content*/

  /*Solid border around whole content on home, about and contact pages*/
  .content-type-Solid {
    margin: 15px;
    border: orange 4px solid;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }  

  /*No border around content area for blog and projects pages as each article will be bordered*/
  .posts-projects {
    margin: 15px;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }  

  /*container for links in Contact page and styling for icons and links*/
  .contacts {
      margin: 15px;
      width: 90%;
      padding: 10px;
      display: inline-block;
      align-items: center;
  }  
    .contacts a {
      color:khaki;
    }
    .contacts a:hover {
      color:lightblue;
    }
    .contacts a:visited {
      color:lightseagreen;
    }

  /*This puts individual borders around Project and Blog articles and gives a bottom margin to space them*/
  .card {
    border: orange 4px solid;
    padding: 20px;
    margin-bottom: 40px;
  }
  .card a {
    color:khaki;
  }
  .card a:hover {
    color:lightblue;
  }
  .card a:visited {
    color:lightseagreen;
  }

  /*Styling the Contacts page links and icons*/

  /*This makes a section for the social media icons*/
  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  .social-media a {
    color: #DBE8D4;
    margin: 20px;
  }
  .social-media a:hover {
    color: grey;
  }
  /*Styling the social media icons*/
  .social-icon {
    color: #DBE8D4;
    margin: 20px;
    
  }

  /*Change the color of social media icons on hover */
  .social-icon:hover {
    color: grey;
  }
  

/*------------------------------------------------------------Styling for the footer---*/
       
       /*Styling for the footer area/container*/
       footer {
         color: #DBE8D4;
         background-color: #222733;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
       }

       /*Styles the arrow-button to take users to the top of the page*/
       .up-button {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin: 10px;
       }

       /*Colours the arrow-button*/
       .up-button a {
         color: #DBE8D4;
       }
       /*Change the color of arrow-button on hover */
       .up-button :hover {
        color: grey;
      }

       /*Positions the bottom nav buttons*/
       .page-buttons {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;   
       }

       /*Styling the bottom nav buttons*/
       .bottom-nav {
         color: #DBE8D4;
         margin: 5px;
         margin-left: 20px;
         margin-right: 20px;
       }

       /*Change the color of links on hover */
       .bottom-nav:hover {
         color: grey;
       }

 
 /*--------------------------------------Media Breakpoints----------------------------------*/

                                  /*------For Mobile-----*/

/*When the screen is less than 600px wide*/
@media screen and (max-width: 600px) {

  /*Hide all links except the "Home" and show the hamburger menu.*/
  .top-nav a:not(:first-child) {display: none;}
  .top-nav a.burger-icon {
    float: right;
    display: block;
  }

  /*When the user clicks the burger icon the "responsive" class is added to the top-nav with javascript.*/
  /* This will display the links vertically on small screens.*/
  .top-nav.responsive {position: relative;}
  .top-nav.responsive a.burger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  /*Hide all links on hrizontal navigation bar, except for the first one ("Home"). Show the (.icon) */
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.*/ 
  /*This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


  /*flexible blank space down the left and right sides of the screen on larger screens*/
  /*that will shrink faster than the central area as size diminishes*/      
  .blank-side-area {
    background-color: #2E3445;
    width: 0px; 
  }
  

}

/*When the screen is less than 600px wide*/
@media screen and (max-width: 600px) {  
  /*All main content on each page will display within this container.
  It will help control the overall positioning of everything within it*/
  /*------------------------------------------------------------Styling the main content area for pages--*/

  /*Overall container to hold and position the 
  3 main flex-containers for the middle of the page*/
  .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: DodgerBlue; /*For error checking only - should not display!*/
    }
  
  /*flexible blank space down the left and right sides of the screen on larger screens
  that will shrink faster than the central area as size diminishes*/      
  .blank-side-area {
    background-color: #2E3445;
    flex-basis: 0%; 
    flex-shrink: 2;
    max-width: 0%;
  }
  
  /*All main content on each page will display within this container.
  It will help control the overall positioning of everything within it*/
  .main-content-area {
    background-color: #2E3445;
    flex-basis: 70%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
  }
                                                            
  /*Allow content and blog images to take up more space in containers on mobile displays*/
  .content-image-center {
    width: 90%;
  }

  .content-image-left {
    width: 100%;
    display: block;
  }
  p {
    font-size: 12;
  }

  figure {
    float: center;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }

  figcaption {
    float: center;
    background-color: black;
    color: #DBE8D4;
    font-style: italic;
    padding: 1px;
    text-align: center;
    width: 100%;
  }
}

/*When the screen is more than 1280px wide*/
@media screen and (min-width: 1280px) {  
  /*All main content on each page will display within this container.
  It will help control the overall positioning of everything within it*/
  /*------------------------------------------------------------Styling the main content area for pages--*/

  /*Overall container to hold and position the 
  3 main flex-containers for the middle of the page*/
  .flex-container {
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
      min-height: 800px;

      justify-content: center;
      background-color: DodgerBlue; /*For error checking only - should not display!*/
    }
  
  /*flexible blank space down the left and right sides of the screen on larger screens
  that will shrink faster than the central area as size diminishes*/      
  .blank-side-area {
    background-color: #2E3445;
    flex-basis: 15%; 
    flex-grow: 2;
    max-width: 15%;
    min-width: 15%
  }
  
  /*All main content on each page will display within this container.
  It will help control the overall positioning of everything within it*/
  .main-content-area {
    background-color: #2E3445;
    flex-basis: 70%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 70%;
    min-height: 70%
  }
