/*CSS for T1A2 Portfolio Project*/

/*Text styling*/
h1 {
  color: orange;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
h2 {
  color: orange;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
h3 {
  color: orange;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
p {
    color: #DBE8D4;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}
li {
  color: #DBE8D4;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}

/*Styling the header*/
header {
    color: #DBE8D4;
    background-color: #222733;
    padding: 20px;
}
/*Style space above the nav bar*/
.top-space {
  display: flex;
  /*flex: 1 1 100%;*/
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  /*flex-shrink: 1;*/
  }
  /*img {
    max-width: 100%;
    padding: 15px;
  }*/
  /*May replace with logo or a background image*/
  .top-space img {
    flex-basis: 200px;
    margin: 15px;
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  .page-title {
    flex-shrink: 1;
    font-size: 2em;
    color: #DBE8D4;
    font-family: 'Lobster', Georgia, Times, serif;
    
  }
  .page-subtitle {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
/*Add a background color to the nav bar to distinguish it*/  
.top-nav {
    background-color: /*#222733*/ #333;
    overflow: hidden;
}    
/*Style the links inside the nav bar*/
.top-nav a {
  float: left;
  display: block;
  color: #DBE8D4;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  /*border-radius: 5px;*/
} 
/*Change the link color when user hovers*/
.top-nav a:hover {
  background-color: grey;
  color: black;
}
/*Adds an active class to highlight the current page - this may be redundent with titles*/
.top-nav a.active {
  background-color: blueviolet;
  color: #DBE8D4;
}
/*Hides the hamburger menu when the screen is wider than 600px*/
.top-nav .burger-icon {
  display: none;
}

/*Styles the main content areea for pages*/
.main-content {
  background-color: #2E3445;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*min-height: 300px;*/
}
.content-image {
  width: 50%;
}

/*Makes a container to format the main-contents and match to blog-posts layout without borders*/
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: flex-start;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
}

/*Styling for blog posts: use odd-posts and even-posts classes alternating for a difference between posts*/
.blog-posts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: flex-start;
}
.even-posts {
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border: orange 4px solid;
  padding: 10px;
  /*margin: 20px;*/
}

.odd-posts {
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border: orange 4px dotted;
  padding:10px;
  /*margin: 20px;*/
}
.blog-pic {
  width: 50%;
}

/*Styling for the footer*/
footer {
    color: #DBE8D4;
    background-color: #222733;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  
}
.up-button a {
  color: #DBE8D4;
}
.page-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
.bottom-button {
  color: #DBE8D4;
  border-radius: 10px;
  margin: 15px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: blueviolet;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/*------------------------------Media Breakpoints----------------------------------*/

/*When the screen is less than 600px wide, hide all links except the "Home" and show the hamburger menu.*/
@media screen and (max-width: 600px) {
  .top-nav a:not(:first-child) {display: none;}
  .top-nav a.burger-icon {
    float: right;
    display: block;
  }
}

/*When the user clicks the burger icon the "responsive" class is added to the top-nav with javascript. This will display the links vertically on small screens.*/
@media screen and (max-width: 600px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive a.burger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Set the blog-post and container margins closer to the edge of the screen on mobile displays*/
@media screen and (max-width: 600px) {
  .even-posts {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: orange 4px solid;
    padding: 10px;
  }
  
  .odd-posts {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: orange 4px dotted;
    padding:10px;
  }

  .container {
    margin-left: 15px;
    margin-right: 15px%;
    padding: 10px;
  }
}

/*Allow content and blog images to take up more space in containers on mobile displays*/
@media screen and (max-width: 600px) {
  .content-image {
    width: 80%;
  }

  .blog-pic {
    width: 80%;
  }
}